
.page-content-animation-wrapper {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 70vh;
    top: 0;
    /* padding-top: 30vh; */
    z-index: 1;
    text-align: left;
}

.page-content {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 70vh;
    top: 0;
    padding-top: 30vh;
    z-index: 1;
    text-align: left;
}

.page-content.technology,
.page-content.about,
.page-content.contact,
.page-content.portfolio {
    position: relative;
    height: auto;
    padding-top: 0;
}

.page-content.technology + .footer,
.page-content.about + .footer,
.page-content.contact + .footer,
.page-content.portfolio + .footer  {
    position: relative;
    height: auto;
    padding-top: 0;
    /* margin-top: 1.5rem; */
}


.page-content.technology {
    list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        width: 100vw;
}

.page-content.technology > div {
    border: 0.1em solid white;
        height: 100%;
        display: flex;
        align-items: center;
        width: 50%;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30vh;
        flex-wrap: wrap;
        height: 68vh;
        width: 100vw;
}

.page-content.portfolio > .portfolio-content-wrapper {
    border: 0.1em solid white;
        height: 100%;
        display: flex;
        align-items: center;
        width: 50%;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 56vh;
        width: 100vw;
}

.page-content.portfolio > .contain {
    border: 0.1em solid white;
        height: 100%;
        width: 50%;
        margin-top: 30vh;
        width: 100vw;
}
