.App {
  text-align: center; }

.contain {
  margin: 0 auto;
  max-width: 44rem; }

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
  position: relative;
  opacity: 1;
  transition: height .35s linear; }

.App-header.active-menu-state:not(.first-element-selected) {
  height: 30vh;
  transition: height .35s linear; }

.page-content-animation-wrapper {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70vh;
  top: 0;
  /* padding-top: 30vh; */
  z-index: 1;
  text-align: left; }

.page-content {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70vh;
  top: 0;
  padding-top: 30vh;
  z-index: 1;
  text-align: left; }

.page-content.technology,
.page-content.about,
.page-content.contact,
.page-content.portfolio {
  position: relative;
  height: auto;
  padding-top: 0; }

.page-content.technology + .footer,
.page-content.about + .footer,
.page-content.contact + .footer,
.page-content.portfolio + .footer {
  position: relative;
  height: auto;
  padding-top: 0;
  /* margin-top: 1.5rem; */ }

.page-content.technology {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100vw; }

.page-content.technology > div {
  border: 0.1em solid white;
  height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30vh;
  flex-wrap: wrap;
  height: 68vh;
  width: 100vw; }

.page-content.portfolio > .portfolio-content-wrapper {
  border: 0.1em solid white;
  height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 56vh;
  width: 100vw; }

.page-content.portfolio > .contain {
  border: 0.1em solid white;
  height: 100%;
  width: 50%;
  margin-top: 30vh;
  width: 100vw; }

.technology-sector {
  display: block;
  height: 50%;
  width: 50%; }

.technology-sector--inner {
  display: flex;
  flex-wrap: wrap; }

.technology-sector--inner div {
  display: inline-block;
  width: 50%; }

.Main-Menu-navigation li img {
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: .6; }

.Main-Menu-navigation li a {
  color: #ffffff;
  position: relative;
  z-index: 1; }

.Main-Menu-navigation li a:hover {
  text-decoration: none; }

.active-menu-state li {
  display: flex;
  overflow: hidden;
  width: 33.33%;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all .35s linear; }

.technology-navigation {
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  display: block;
  right: 0;
  bottom: 0; }

.technology-navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100vw; }

.footer {
  background-color: rgba(79, 87, 84, 0.64);
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  height: 5em;
  padding-top: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer .footer-inner {
  padding: 1em; }

.portfolio-menu {
  height: 100%;
  top: 0;
  /* position: absolute; */
  width: 100%;
  left: 0;
  display: block;
  right: 0;
  bottom: 0; }

.portfolio-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100vw; }

.portfolio-menu ul li {
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: width .35s ease-in-out; }

.portfolio-menu ul li:hover .portfolio-image {
  width: 55%;
  transition: width .35s ease-in-out; }

.portfolio-menu .portfolio-image {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 100%;
  text-align: left;
  margin: 0; }

.portfolio-menu ul li img {
  /* display: none; */
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: .6; }

.portfolio-menu ul li:nth-child(even) {
  background-color: #333333;
  border-top: .35em solid #ffffff; }

.portfolio-menu ul li:nth-child(odd) {
  background-color: #333333;
  border-top: .35em solid #ffffff; }

.portfolio-menu ul li a {
  color: #ffffff;
  position: relative;
  z-index: 0;
  text-decoration: none;
  text-align: left;
  padding: 1em;
  width: 50%; }

.technology-navigation ul li {
  border: 0.1em solid white;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  height: 68vh; }

.technology-navigation ul li a {
  color: #ffffff; }

.Main-Menu-navigation .first-menu-item {
  width: 0%; }

.active-menu-state li:first-child {
  width: 30%;
  transition: all .35s linear; }

.active-menu-state li:after {
  opacity: .2; }

.active-menu-state li.active:after {
  opacity: .5; }

.active-menu-state li.active {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all .35s linear;
  width: 10%; }

.active-menu-state li.first-menu-item.active {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all .35s linear;
  width: 0%; }

.Main-Menu-navigation li:nth-child(odd) {
  background-color: #000000; }

.Main-Menu-navigation li:nth-child(even) {
  background-color: #af6969; }
