.footer {
  background-color: rgba(79, 87, 84, 0.64);
  color: #ffffff;
  width: 100%;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer .footer-inner {
  padding: 1em; }
