
.footer {
    background-color: rgba(79, 87, 84, 0.64);
    color: #ffffff;
    width: 100%;
    top: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer .footer-inner {
    padding: 1em;
    text-align: center;
}
